<section class="postFormSection">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div class="notice" style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="postFormTitle">
      <%= form.text_field :title, placeholder: "Título"%>
    </div>

    <div class="text">
      <%= form.textarea :content, placeholder: "Digite o conteúdo" %>
    </div>
    <% if user_signed_in? %>
      <div>
        <%= form.hidden_field :current_user_id, value: current_user.id %>
        <%= form.hidden_field :username, value: current_user.username %>
      </div>
    <% end %>

    <div class="postButton">
      <%= form.submit "Criar post" %>
    </div>
  <% end %>
</section>