<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.textarea :content %>
  </div>
  <% if user_signed_in? %>
    <div>
      <%= form.hidden_field :current_user_id, value: current_user.id %>
      <%= form.hidden_field :username, value: current_user.username %>
    </div>
  <% else %>
    <div>
      <%= form.label :user_id, style: "display: block" %>
      <%= form.text_field :user.id %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
