<div id="<%= dom_id post %>">
  <h1>
    <strong><%= post.title %></strong>
    
  </h1>

  <p>
    <strong>Autor:</strong>
    <%= post.username %>
  </p>
  
  <p>
    <strong>Publicado em:</strong>
    <%= post.created_at.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <%= post.content %>
  </p>
</div>
