<div class="eachPost" id="<%= dom_id post %>">
  <h1>
    <strong><%= post.title %></strong>
    
  </h1>

  <div class="postsInfo">
    <p>
      <strong>Autor:</strong>
      <%= post.username %>
    </p>
    
    <p>
      <strong>Publicado em:</strong>
      <%= post.created_at.strftime("%d/%m/%Y") %>
    </p>
  </div>

  <p>
    <%= simple_format(post.content) %>
  </p>
</div>
