<p style="color: green"><%= notice %></p>

<% content_for :title, "Blog" %>

<div class="pageTitle">
  <h1>Resenhas</h1>
</div>

<div class="posts">
  <!-- Paginação (3 posts por página) -->
  <% @posts.page(params[:page]).per(3).each do |post| %>
  <div class="post">
    <!-- Criando um link no título para o post -->
    <h2 class="postTitle"><%= link_to post.title, post_path(post) %></h2>
    <!-- Exibindo o conteúdo do post em até 150 caracteres -->
    <p class="truncateContent"><%= truncate(post.content, length: 150) %></p>
    <!-- Criando um link no 'leia mais' para o post -->
    <p class="readMore"><%= link_to 'LEIA MAIS...', post_path(post) %></p>
  </div>
  <% end %>

  <li class="pag"> <%= paginate @posts %> </li> <!-- Adicionando a paginação -->
</div>

  <% if user_signed_in?%>
    <li class="newPost"> <%= link_to "Novo post", new_post_path %> </li>
  <% end %>