<p class="notice" style="color: green"><%= notice %></p>

<div class="postPage">
  <%= render @post %>
</div>

<div class="postActions">
  <!-- Somente o autor do post pode editar e deletar -->
  <% if user_signed_in? && current_user == @post.user %>
    <%= link_to "Apagar publicação", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to "Editar publicação", edit_post_path(@post) %>   
  <% end %>
  <%= link_to "Voltar", posts_path %>
</div>
  
<section class="commentsSection">  
  <div class="commentsSectionTitle">
    <h2>Comente!</h2>
  </div>

  <%= form_with(model: [@post, Comment.new]) do |form| %>
    <div class="commentsField">
      <%= form.text_area :content, rows: 5 %>
    </div>
    <div class="commentsActions">
      <%= form.submit "Publicar"%>
    </div>
  <% end %>

  <div class="comments"> 
    <% @post.comments.each do |comment| %> 
    <div class="commentsInfo">
      <p><strong>@<%= comment.user.username %></strong>: <%= comment.content %></p>
    </div>
  </div>
  <% end %>
</section>
